h1 {
   color: red; 
}

body {  
   background-image: url("/IMAGE/2348101493011_status_d1b33e33a6fa4726b1a96b0e0ad156fe.jpg");
 background-repeat: no-repeat; 
 background-position: right top;

/* unvisited link */
a:link {
   color: black;
}
a:visited {
   color: red;
}
a:hover {
   color: orange;
}


}
    
   